<div class="row">
    <div class="mt-5 col-12">
        <img [src]="boarding.imagePath" alt="" class="img-responsive"
        style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <div
      class="btn-group" appDropdown #r='appDropDown'> 
       <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown">
        Manage Boarding <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show': r.isOpen}">
        <li><a  class="dropdown-item" style="cursor: pointer"
          >To Boarding Place</a></li>
   <li><a class="dropdown-item" style="cursor: pointer" (click)="onEditBoarding()">Edit Boarding</a></li>
   <li><a class="dropdown-item" style="cursor: pointer"(click)="onDeleteBoarding()">Delete Boarding</a></li>
      </ul>
    </div> 
    </div>
</div>

<div class="row">
    <div class="col-12">
       {{boarding.description}}
    </div>
</div>
<div class="row">
<div class="col-12">
    {{boarding.price}}
</div>
</div>
<div class="row">
<div class="col-12">
{{boarding.mobile}}
</div>
</div>
<div class="row">
<div class="col-12">
    {{boarding.address}}
 </div>
</div>
<div class="row">
 <div class="col-12">
    {{boarding.distance}}
</div>
 </div>
 <div class="row">
<div class="col-12">
            {{boarding.keyMoney}}
</div>
</div>
<div class="row">
<div class="col-12">
    {{boarding.owner}}
</div>
</div>