<div class="row">
    <div class="col-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
    <div
      class="btn-group" appDropdown> 
       <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown" >
        Manage Boarding <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a  style="cursor: pointer"
          >Boarding Place</a></li>
   <li><a class="dropdown-item" style="cursor: pointer">Edit Boarding</a></li>
   <li><a class="dropdown-item" style="cursor: pointer">Delete Boarding</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-12">
        desc
    </div>
</div>
<div class="row">
<div class="col-12">
    price
</div>
</div>
<div class="row">
<div class="col-12">
mobile
</div>
</div>
<div class="row">
<div class="col-12">
    address
 </div>
</div>
<div class="row">
 <div class="col-12">
    distance
</div>
 </div>
 <div class="row">
<div class="col-12">
            key money
</div>
</div>
<div class="row">
<div class="col-12">
    owner
</div>
</div>